.cart-button {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 10px;
}

.btn-cart, .btn-cart:focus, .btn-cart:active {
    width: 200px;
    height: 30px;
    background-color: lightseagreen;
    border-radius: 8px;
    color: white;
    font-size: 20px;
    font-weight: 700;
    transition: 0.3s;
    letter-spacing: 1px;
    margin-left: 10px;
}

.btn-cart:active {
    opacity: 70%;
    transition: 0.3s;
}

.cart-item-wrap {
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    border-bottom: 1px solid lightgrey;
}

.cart-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    flex: 4
}

.cart-price-wrap {
    display: flex;
    margin-left: 50px;
    align-items: center;
    flex: 1
}

.cart-wrap {
    margin-top: 20px;
    border-radius: 8px;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 16%);
    background-color: #fff;
    padding: 20px; 
}

.total-amount {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}

.cart-price-button {
    width: 100px;
    display: flex;
    align-items: center;
}

.price {
    width: 80px;
    display: flex;
    justify-content: flex-start;
}

.null-cart-wrap {
    display: flex;
    justify-content: center;
}

input, input:focus {
    border:none;
    background:none;
    outline:none;
    padding:0;
}

.input, input:active, input:focus {
    border: solid 1px lightgray;
    border-radius: 5px;
    color: #4e4e4e;
    font-weight: bold;
    box-sizing: border-box;
    font-size: 16px;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-left: 20px;
    height: 35px;
}
