.order-text {
    display: flex;
    border-bottom: 1px dotted lightgray;
}

.order-wrap {
    border-bottom: 1px solid lightgray;
    margin-bottom: 20px;
    margin-top: 20px
}

.order-title {
    width: 70%;
}

.order-value {
    width: 10%;
    padding-left: 10px;
    border-left: 1px dotted lightgray;
}

.order-content {
    margin-top: 20px
}

.order-total{
    display: flex;
    justify-content: flex-end;
    margin-right: 30px;
    margin-top: 10px;
}

.order-history {
    display: flex;
    justify-content: center;
}

