.cart {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-cart, .btn-cart:focus, .btn-cart:active {
    width: 200px;
    height: 30px;
    background-color: lightseagreen;
    border-radius: 8px;
    color: white;
    font-size: 20px;
    font-weight: 700;
    transition: 0.3s;
    letter-spacing: 1px
}

.btn-cart:active {
    opacity: 70%;
    transition: 0.3s;
}