.header {
    display: flex;
    justify-content: flex-end;
    border-radius: 8px;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 16%);
    background-color: #fff;
    padding: 20px;
    height: 30px;
    margin-top: 20px;
}

.fixed-cart {
    display: flex;
    align-items: center;
    width: 82px;
    height: 82px;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 16%);
    background-color: #fff;
    position: fixed;
    bottom: 20px;
    right: 250px;
    justify-content: center;
    border-radius: 50%;
}

.cart-title {
    margin: 0;
    font-size: 20px;
    font-weight: 700;
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.cart-title::after {
    content: "";
    height: 20px;
    width: 20px;
    background-image: url("https://i.ibb.co/vh9vJnd/cart.png");
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 20px;
}

.cart-count {
    width: 22px;
    height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    right: 25px;
    bottom: 5px;
    font-weight: 700;
    background-color: orangered;
    color: white;
    border-radius: 50%;
    opacity: 50%;
}

.hide {
    opacity: 0%;
}

