.card-wrap-content {
    border-radius: 8px;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 16%);
    background-color: #fff;
    padding: 20px;
    height: 150px;
    margin-top: 20px;
}

.card-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.item-wrap {
    display: flex;
    justify-content: space-between;
    height: 100%;
    
}

.item-image {
    display: flex;
    align-items: center;
}

.item-image img {
    width: 150px;
    height: 150px;
    background: #fff;
    border-radius: 8%;
    margin: 0;
    cursor: pointer;
    object-fit: contain;
}

.item-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    margin-left: 50px;
}

.item-title-category {
    margin-top: 30px;
}

.item-title {
    font-size: 25px;
    font-weight: 700;
}

.item-description {
    width: 70%;
    overflow: hidden;
    font-size: 12px;
}

.detail {
    display: flex;
    justify-content: flex-end
}