body {
  margin: 0;
  background-color: #f6f6f6;
  color: #333;
}

button, button:focus {
  outline: none;
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
  transition: 0.3s;
}

button:hover, button:focus, button:active {
  transition: 0.3s;
}

